@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	box-sizing: border-box;
}


body {
	background: rgb(252, 208, 255);
	display: flex;
	font-family: 'Roboto';
	align-items: center;
	justify-content: center;
	height: 50vh;
	margin: 0;
	text-align: center;
}

.key {
	background-color: rgb(113, 120, 128);
	display: inline-flex;
	font-size: 20px;
	flex-direction: column;
	align-items: center;
	font-weight: bold;
    color: antiquewhite;
	padding: 20px;
	position: relative;
	margin: 30px;
	min-width: 150px;
}

.key small {
	color: rgb(55, 52, 52);
	font-size: 20px;
	position: absolute;
	top: -30px;
	left: 0;
	text-align: center;
	width: 100%;
}
